html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300&amp;family=Noto+Sans+JP:wght@100;300;400;700&amp;display=swap" rel="stylesheet")
		link(rel="stylesheet" href="/css/style.scss")

		script(type="module" src="/js/main.ts" defer)
	body
		main
			h1 tic-tac-toe
			#app


